@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&display=swap');


*{
    margin: 0;
    
}

body{
    background:url(images/pic01-2.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: left;
}


.nav-item a{
    letter-spacing: 2px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #edf0f1;
}

.nav-item a:hover{
    background-color: rgba(17, 124, 196, 0.3);;
}

button{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
    margin-left: 20px;
    padding: 7px 12px;
    background-color: rgba(41, 184, 250);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button1{
    border-radius: 12px;
}

button:hover{
    background-color: rgb(14, 93, 129);
}

.exnp{
    margin-left: 10px;
    padding: 100px 10px;
    
    
}

.services-section{
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
    
}

.column-cont:hover{
    background-color: rgba(41, 184, 250);
    color: white;
    transition: all 0.5s ease 0s;
}

.icon {
    padding-top: 13px;
}


.cara{
    margin-left: 100px;
    margin-right: 100px;
    
}

figure{
    
	
	text-align: center;
	cursor: pointer;
}

figure figcaption {
	
	color: rgb(95, 95, 95);
	
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption,
figure figcaption > a {
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h3 {
	word-spacing: -0.15em;
	font-weight: 500;
}

figure h3,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	
}

figure.effect figcaption::before {
	position: absolute;
    
    
	top: 20px;
	left: -180px;
	width: 150%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(22, 156, 209, 0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(19, 157, 199, 0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect h3 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #24c582;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect figcaption::before,
figure.effect p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect:hover h3 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-80px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-80px,0);
}

figure.effect:hover figcaption::before ,
figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}



/* .footer
{
    text-decoration: none;
    margin-top: 60px;
    background-color: rgb(75, 72, 72);
    color: #eee;
}

.footer a{
    font-size: 12px;
    color: #eee;
    text-decoration: none;
}

.footer h1
{
    font-size: 15px;
    margin: 25px 0;
}
.footer p
{
    font-size: 12px;
}
.copyright
{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
} */

/* Footer */


  
.footer-area {
	margin-top: 20px;
	padding: 100px 0;
	background-image: linear-gradient(
	  to bottom,
	  #7d6eb2,
	  #7771b4,
	  #7174b5,
	  #6b77b5,
	  #667ab5,
	  #5c81b9,
	  #5288bb,
	  #4a8ebc,
	  #4299bc,
	  #45a3ba,
	  #52adb5,
	  #65b5b0
	);
	color: rgb(252, 250, 250);
	position: relative;
  }
  .main {
	width: 1200px;
	margin: 0 auto;
  }
  .footer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
  }
  .single-footer {
	width: 230px;
  }
  .single-footer:first-child {
	width: 400px;
  }
  .single-footer h4 {
	text-transform: capitalize;
	font-family: "Oswald", sans-serif;
	font-size: 22px;
	margin-bottom: 20px;
  }
  .footer-social a {
	color: rgb(253, 253, 253);
	border: 1px solid rgb(255, 254, 254);
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 10px;
  }
  .footer-social {
	margin-top: 20px;
  }
  
  .footer-social .color:hover {
	background-image: linear-gradient(
	  to right top,
	  #7d76c0,
	  #6e64be,
	  #5e52ba,
	  #4e40b7,
	  #3c2cb2
	);
  }
  .single-footer ul {
	list-style: none;
  }
  .single-footer ul li {
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
  }
  .single-footer ul li a {
	color: rgb(253, 251, 251);
	text-decoration: none;
  }
  .single-footer ul li a i {
	position: absolute;
	left: 0;
	top: 5px;
  }
  
  .copy {
	text-align: center;
	text-transform: capitalize;
	margin-top: 50px;
  }
  
  .footer-wave-box {
	position: absolute;
	left: 0;
	top: 0;
	height: 45px;
	right: 0;
	width: 100%;
	overflow: hidden;
  }
  .footer-wave {
	background-image: url("./images/footer-img.png");
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 200%;
	background-size: 50%;
	background-position: bottom;
	background-repeat: repeat-x;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 800px) {
	.main {
	  width: 320px;
	}
	.footer-wave-box {
	  display: none;
	}
	.single-footer:first-child,
	.single-footer {
	  width: 100%;
	  margin-bottom: 30px;
	}
  }
 

 
