*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background-color: #d7c6dd;
}
.nav{
  position: fixed;
}
h1{
    text-align: center;
    padding-right: 20px;
}
.first{
    text-justify: auto;
    text-align:inherit;
    color: blue;
    padding: 5px;
    
    
}

footer h5{
    padding-bottom: 80px;
}
/*Top navigation SS*/
/*
.topnav {
    background:rgb(52, 82, 161);
    color:white;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background:#FBC02D;
    color: black;

    background-color: transparent;
    box-shadow: inset 0 0 0 0px #6c6c6c;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;


  }
*/
/*.headImage{
    width:300px;
     height: 180px;;
     display: flex;
       margin: auto;
}
*/

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: fixed;
  margin: auto;
  border: transparent;
}

/* Caption text */
.text {
  color: #1528d4;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*
.active {
  background-color: #717171;
  opacity: inherit;
}

/* Fading animation */
/*
.fade {
  -webkit-animation-name:fade;
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
  animation-name: fade;
  animation-delay:0.6s ;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 0.8}
}
*/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




nav{
   padding-right: 14mm;
}
div nav a{padding-left: 42mm;
border:none;
}
.Search{
    padding-right: 15px ;
    padding-left: 15px;
}

.text-right{
    text-align: right;
}

.container{
    margin: 0 auto;
    padding: 2px;
    size: 60px;
   
}
.search-box{
    background-color: brown;
    color: azure;
    cursor: pointer;
}

